/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

  .main-header,
  .main-nav,
  .row {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }

  .row {
    flex-wrap: wrap;
  }

  .col {
    flex: 1 50%; /* Short hand for the following */
    /*flex-grow: 1;*/
    /*flex-basis: 50%;*/
    /*flex-shrink: 0;*/
  }

}

@media (min-width: 1025px) {

  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .col {
    flex-basis: 0; /* puts the columns all on one line */
  }

  .primary {
    flex-grow: 1.4;
  }

  .secondary {
    order: -1;
  }

}